.container {
    display: grid;
    max-width: 840px;
    padding: 40px;
    margin: 0 auto;
    /* grid-template-columns: 4fr; */
    gap: 40px;
  }
  
  /* @media (min-width: 600px){
    .container {
      grid-template-columns: 1fr 1fr;
    }
  }
   */

  .card {
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 400px;
    background: #224;
    padding: 20px;
    position: relative;
  }
  
  .card__text {
    margin: 0;
    font-size: 28px;
    font-family: serif;
    color: #eef
  }
  
  .card:hover {
    cursor: pointer;
  }
  
  .card--arrow::before {
    content: "⮕";
    position: absolute;
    bottom: 20px;
    right: 50px;
    font-size: 30px;
    color: #eef;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.2s ease;
  }
  
  .card--arrow:hover::before {
    transform: translateX(20px);
    opacity: 1;
  }
  
  