<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <app-navbar></app-navbar>
    <br/>
    <img src="../../assets/images/revature-logo.png" alt="Revature Logo" width="20%" height="20%">
    <br><br>
    <h1>Welcome to RevBook!</h1>
    <p>This website allows Revature employees to interact with one another.</p>
    <p>Users have a variety of options available:</p>
    <div id="list">
        <ul>
            <li>View Posts</li>
            <li>Create Posts</li>
            <li>Add Images to their Posts</li>
            <li>Comment on Posts</li>
            <li>Comment on Comments</li>
            <li>Like/Dislike Posts/Comments</li>
            <li>Message other Employees</li>
            <li>.... More coming <i>SOON!</i></li>
        </ul>
    </div>
    <p>Please join the online Revature community today and start connecting!</p>
    <form id="siteButtons" class="form-signin" >
        <div class="text-center">
            <div class="form-outline mb-4">
                <div id="logSignBtn">
                    <button type="submit" class="btn btn-warning" style="background-color: #F26925; color: white;" (click)="login()">Login</button>&nbsp;
                    <button type="submit" class="btn btn-warning" style="background-color: #F26925; color: white;" (click)="signup()">Sign Up</button>
                </div>
            </div>
        </div>
    </form>
</body>
<hr>
<footer>&copy; 2022 Revature</footer>
</html>