<div>
    <form id="form1"  class="card border-secondary mb-3" name="form" (ngSubmit)="submitComment()" #f="ngForm" ngNativeValidate>
        <h5>Comment:</h5>
        <textarea type="text" class="form-control" name="postComment" id="postComment" rows="3" [(ngModel)]="comment.commentContent" #postContent="ngModel" (ngModelChange)="changeCharsRemain()" maxlength="255" required></textarea>
        <p id="charsRemain">Characters Remaining: {{charsRemain}}</p>
        <p id="msg"></p>
        <button type="submit" class="btn btn-dark btm-sm" style="background-color: #474C55; color: white;" (focus)="comments.refreshComments()">Submit</button>
    </form>
    <br/><br/>
    <app-comment-table #comments [postId]="postId"></app-comment-table>
</div>