h1 {
    text-align: center;
}

body {
    margin-bottom: 5%;
    padding: 0.01% 0% 0% 0%;
}

footer {
    text-align: center;
    padding-bottom: 2%;
}

#accErrMsg {
    color: red;
    margin: 10px 0 0 0;
}

.card {
    margin        : 0 30% 0 30%;
    padding       : 1%;
    display       : grid;
    place-content : center;
    text-align: center;
}

#deleteAccount {
    text-align: center;
}