#respondToMsg {
    display: none;
}

.card {
    margin: 0 10% 0 10%;
    padding: 0.5%;
}

#responseDiv {
    text-align: center;
}

.extraCol {
    width: 10%;
}

textarea {
    resize: none;
}

#noMsgs {
    text-align: center;
}