<div>
    <table class="table">
        <tbody>
            <tr scope="row" id="post" class="card border-info mb-5" *ngFor="let post of posts">
                <td>
                    <h5>{{post.postTitle}}</h5>
                    <br />
                    By: <b>{{post.user.username}}</b>
                    <br />
                    {{post.createdAt | date: 'medium'}}
                    <div *ngIf="post.updatedAt != null">
                        <br />
                        Updated: {{post.updatedAt | date: 'medium'}}
                    </div>
                    <br /><br />
                    <span class="postContent">
                        {{post.postContent}}
                    </span>
                    <div *ngIf="post.postImgId != null">
                        <br/><br/>
                        <img src="http://p3revbook-env.eba-9n8rwwpy.us-east-1.elasticbeanstalk.com/post-images/{{post.postId}}/image/download" alt="Post Image">
                    </div>
                    <br /><br />
                    <div>
                        <app-vote-post [postId]="post.postId"></app-vote-post>
                    </div>
                    <hr>
                    <div>
                        <app-comment [postId]="post.postId"></app-comment>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>