<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed Page</title>
</head>
<body>
    <app-navbar></app-navbar>
    <br>
    <h1>Create Post:</h1>
    <form class="card" name="form" style="background-color: #72A4C2;" (ngSubmit)="submitPost()" #f="ngForm" ngNativeValidate>
        <div>
            <label for="inputStyle" class="col-sm-2 col-form-label">Title:</label>
            <br/>
            <input type="text" id = "inputStyle" class="form-control" name="postTitle" [(ngModel)]="post.postTitle" #postTitle="ngModel" maxlength="255" required/>
        </div>
        <div>
            Content:
            <br/>
            <input id="postContent" type="text" class="form-control" name="postContent" [(ngModel)]="post.postContent" #postContent="ngModel" (ngModelChange)="changeCharsRemain()" maxlength="255" required/>
        </div>
        <p id="charsRemain">Characters Remaining: {{charsRemain}}</p>
        <div>
            Image:
            <br/>
            <input id="imageInput" type="file" accept="image/*">
        </div>
        <br/>
        <p id="postMsg"></p>
        <div>
            <button type="submit" class="btn btn-warning" style="background-color: #FCB414;" (focus)="posts.refreshPosts()">Submit</button>
        </div>
    </form>
    <br/><br/>
    <app-post-feed-table #posts></app-post-feed-table>
</body>
</html>