<div class="container">
    <div class="card card--arrow">
      <p class="card__text">Effect One<br><em>Arrow</em></p>
      <p class="card__text">Effect One<br><em>Arrow</em></p>
      <p class="card__text">Effect One<br><em>Arrow</em></p>
      <p class="card__text">Effect One<br><em>Arrow</em></p>
    </div>
      <div class="card card--arrow">
      <p class="card__text">Effect One<br><em>Arrow</em></p>
      <p class="card__text">Effect One<br><em>Arrow</em></p>
      <p class="card__text">Effect One<br><em>Arrow</em></p>
      <p class="card__text">Effect One<br><em>Arrow</em></p>
    </div>
  </div>