/* You can add global styles to this file, and also import other style files */
.nav-bar {
    padding: 0px;
    width: 100%;
    margin: 0px auto;
  }
  
  .nav-bar ul {
    list-style-type: none;
  }
  
  li{
   
        display: inline-block;
        padding: 10px;
        list-style-type: none;
      
  }
  
  .left {
    position: relative;
 float:left
  }
  
  .right {
    float: right;
  }
